* {
    box-sizing: border-box;
    font-size: 10px;
}
body {
    font: 'Raleway', sans-serif;
    color: rgba(0,0,0,0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    top: 15%;
    background: linear-gradient(to right, #67A3D9, #F8B7CD);
}
h1 {
    font: 600 5.6rem 'Raleway', sans-serif;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 0;
}
h3 {
    font: 900 1.6rem 'Raleway', sans-serif;
    text-transform: none;
    letter-spacing: 0.1rem;
}
.button-wrapper {
    display: flex;
    justify-content: center;
}
.randomizer {
    font-size: 1.6rem;
    margin: 10px;
}